In [ ]:
# conda install -c anaconda mysql-connector-python
# pip install mysql-connector-python

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(host = 'localhost',user = 'root',password = 'hell')

In [3]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000188D56D6370>

In [4]:
mydb = mysql.connector.connect(host = 'localhost',user = 'root',password = 'hell',database = 'my_db')

In [5]:
mycursor = mydb.cursor()

In [6]:
mycursor.execute("SHOW DATABASES")

In [7]:
for x in mycursor : 
    print(x)

('information_schema',)
('my_db',)
('mysql',)
('performance_schema',)
('sys',)

In [8]:
mycursor = mydb.cursor()

In [9]:
mycursor.execute("CREATE TABLE customers(Name VARCHAR(255), Address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

In [ ]:
mycursor.execute("SHOW TABLES")

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
mycursor = mydb.cursor()

In [ ]:
sql ="INSERT INTO customers(Name,Address) VALUES(%s,%s)"

In [ ]:
val = ("rahul","Delhi")

In [ ]:
mycursor.execute(sql,val)

In [ ]:
mydb.commit()

In [ ]:
print(mycursor.rowcount,"record inserted")

In [ ]:
mycursor.execute("SELECT * FROM customers")

In [ ]:
myresult = mycursor.fetchall()

In [ ]:
for x in myresult:
    print(x)

In [ ]:
mycursor.execute("SELECT Name from customers")

In [ ]:
sql= "SELECT * FROM customers WHERE Address = 'Delhi'"

In [ ]:
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

In [ ]:
mycursor= mydb.cursor()

In [11]:
sql = "DROP TABLE customers "

In [12]:
mycursor.execute(sql)

In [13]:
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

In [14]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('emp',)
('my_tab',)
('new_tab',)
('student',)